.json
{
  "name": "Venta inventario✅",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e0afaeb5-b5a2-4374-8353-5fa5e34f8eb3",
              "leftValue": "={{ $('Registro de producto').first().json.nombre }}",
              "rightValue": "={{ $json.nombre }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        -112
      ],
      "id": "7188440d-12b8-4ba2-9ccf-ba3f13f22847",
      "name": "Ya esta registrada?"
    },
    {
      "parameters": {
        "jsCode": "const uniqueNames = new Set();\nconst result = [];\n\n// Usamos .all() para ver los 12 registros de entrada\nconst items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const name = items[i].json.nombre;\n  \n  if (name && !uniqueNames.has(name)) {\n    uniqueNames.add(name);\n    \n    result.push({\n      json: { nombre: name },\n      // Esto arregla el error de \"Paired item\"\n      pairedItem: { item: i } \n    });\n  }\n}\n\nreturn result;\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -112
      ],
      "id": "8ff0428e-368e-4769-a3d1-4059dd05d5be",
      "name": "Identifica productos creados"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "producto",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        -112
      ],
      "id": "15f2d420-ba77-405f-9236-40e754e1d683",
      "name": "Trae la data de productos BD",
      "credentials": {
        "supabaseApi": {
          "id": "RrBNPtYsFdFIja99",
          "name": "Supabase inventario"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Agregar producto al sistema Siigo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "nombre"
            },
            {
              "fieldLabel": "precio, sin puntos ni signos",
              "fieldType": "number"
            },
            {
              "fieldLabel": "es descontinuado",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sí"
                  },
                  {
                    "option": "No"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Moneda",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "COP"
                  },
                  {
                    "option": "CLP"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Modulo",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Informes"
                  },
                  {
                    "option": "Informes avanzados"
                  },
                  {
                    "option": "Contabilidad"
                  },
                  {
                    "option": "Inventarios"
                  },
                  {
                    "option": "Nómina"
                  },
                  {
                    "option": "CXC"
                  },
                  {
                    "option": "CXP"
                  },
                  {
                    "option": "API"
                  },
                  {
                    "option": " Soporte dedicado"
                  },
                  {
                    "option": "SLA garantizado"
                  },
                  {
                    "option": "Declaraciones"
                  },
                  {
                    "option": "POS"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -112,
        -112
      ],
      "id": "4d787580-60b8-4199-91ff-35f03ed33b31",
      "name": "Registro de producto",
      "webhookId": "dad27578-441d-4ffe-a50d-527f69763129",
      "credentials": {
        "httpBasicAuth": {
          "id": "Kn3esTiMeTn095ts",
          "name": "basico"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Mapa de conversión\nconst mapa = {\n    \"Facturación electrónica\": 1,\n    \"Contabilidad\": 2,\n    \"Inventarios\": 3,\n    \"Informes\": 4,\n    \"Nómina\": 5,\n    \"CXC\": 6,\n    \"CXP\": 7,\n    \"Informes avanzados\": 8,\n    \"API\": 9,\n    \"Soporte dedicado\": 10,\n    \"SLA garantizado\": 11,\n    \"Declaraciones\": 12,\n    \"POS\": 13\n};\n\nconst entrada = $('Registro de producto').first().json.Modulo;\nconst results = [];\n\n// 2. Si es una lista, creamos un objeto por cada ID\nif (Array.isArray(entrada)) {\n    entrada.forEach(nombre => {\n        const id = mapa[nombre];\n        if (id !== undefined) {\n            results.push({ json: { modulo_id: id } });\n        }\n    });\n} else {\n    // Si es uno solo\n    const id = mapa[entrada];\n    if (id !== undefined) {\n        results.push({ json: { modulo_id: id } });\n    }\n}\n\n// 3. Importante: n8n procesará cada elemento de este array por separado\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        16
      ],
      "id": "0e1b8874-09d3-4c66-a473-b80f052bce95",
      "name": "Clasifica númeración modulos"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "producto",
        "filters": {
          "conditions": [
            {
              "keyName": "nombre",
              "condition": "eq",
              "keyValue": "={{ $json.nombre }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $('Registro de producto').item.json.nombre }}"
            },
            {
              "fieldId": "annual_price",
              "fieldValue": "={{ $('Registro de producto').item.json['precio, sin puntos ni signos'] }}"
            },
            {
              "fieldId": "es_descontinuado",
              "fieldValue": "={{ $('Registro de producto').item.json['es descontinuado'] }}"
            },
            {
              "fieldId": "moneda",
              "fieldValue": "={{ $('Registro de producto').item.json.Moneda }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $('Registro de producto').item.json.submittedAt }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        -320
      ],
      "id": "8090665d-cfa1-4822-a546-2706e66e3d0d",
      "name": "Actualiza Producto",
      "credentials": {
        "supabaseApi": {
          "id": "RrBNPtYsFdFIja99",
          "name": "Supabase inventario"
        }
      }
    },
    {
      "parameters": {
        "tableId": "producto",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $('Registro de producto').first().json.nombre }}"
            },
            {
              "fieldId": "annual_price",
              "fieldValue": "={{ $('Registro de producto').first().json['precio, sin puntos ni signos'] }}"
            },
            {
              "fieldId": "es_descontinuado",
              "fieldValue": "={{ $('Registro de producto').first().json['es descontinuado'] }}"
            },
            {
              "fieldId": "moneda",
              "fieldValue": "={{ $('Registro de producto').first().json.Moneda }}"
            },
            {
              "fieldId": "modulo",
              "fieldValue": "={{ $json.modulo_id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $('Registro de producto').first().json.submittedAt }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1216,
        16
      ],
      "id": "4c7e4ec4-dc24-4480-b11e-23b7afd8632b",
      "name": "Crea Producto",
      "credentials": {
        "supabaseApi": {
          "id": "RrBNPtYsFdFIja99",
          "name": "Supabase inventario"
        }
      }
    },
    {
      "parameters": {
        "content": "## Identificación data actual\nAquí vamos a identificar la información de nuestra base de datos, tabla productos para ver **si se crea una nueva tabla o solo se actualiza** ",
        "height": 368,
        "width": 592,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -256
      ],
      "typeVersion": 1,
      "id": "f00f849d-2671-4358-ac6f-f59d71aab922",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Configuraciones Fila\nAquí creamos una fila por cada modulo asignado en el registro para el producto, el code identifica la palabra (Nomina) y **la traduce en la llave primaria que identifica esa palabra en la tabla de modulos** ",
        "height": 384,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        -144
      ],
      "typeVersion": 1,
      "id": "ee2c28de-b657-4ece-80fb-938115c41aaa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos los items que llegan actualmente al nodo (False Branch)\nconst itemsActuales = $input.all();\n\n// 2. Obtenemos cuántos items generó el nodo \"Identifica productos creados\"\n// Usamos .length para saber si eran 5, como en tu imagen\nconst totalProductosBD = $(\"Identifica productos creados\").all().length;\n\n// 3. Lógica de validación\nif (itemsActuales.length === totalProductosBD) {\n  // Si coinciden (ej. 5 y 5), significa que el producto es nuevo \n  // y no está en la lista actual\n  return [\n    {\n      json: {\n        resultado: \"listo para crear\"\n      }\n    }\n  ];\n} else {\n  // En cualquier otro caso (si es -1 o no coinciden), no devuelve nada\n  // Esto detiene el flujo automáticamente\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        16
      ],
      "id": "c308bfb8-56e1-4cc1-bd16-68eee091f8ce",
      "name": "Cancelación de datos creados"
    }
  ],
  "pinData": {},
  "connections": {
    "Ya esta registrada?": {
      "main": [
        [
          {
            "node": "Actualiza Producto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelación de datos creados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identifica productos creados": {
      "main": [
        [
          {
            "node": "Ya esta registrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trae la data de productos BD": {
      "main": [
        [
          {
            "node": "Identifica productos creados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro de producto": {
      "main": [
        [
          {
            "node": "Trae la data de productos BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasifica númeración modulos": {
      "main": [
        [
          {
            "node": "Crea Producto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crea Producto": {
      "main": [
        []
      ]
    },
    "Cancelación de datos creados": {
      "main": [
        [
          {
            "node": "Clasifica númeración modulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b3a38e53-6ed9-4114-9262-db48566863e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7763aa856622e03143b7ebd9baaf875b6813d90e775fad979b5c5dabb0d5f43"
  },
  "id": "F4pySLs-DFIx8M-lHrHFh",
  "tags": []
}
